<h3 class="text-center"> Signup for Alpha Blog </h3>
<%= render 'shared/errors', obj:@user %>

<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <%= form_for @user do |f| %>
    <div class="form-group pt-2">
      <%= f.label :username %>
      <%= f.text_field :username, class:"form-control", placeholder:"Enter username", autofocus:true %>
    </div>
    <div class="form-group pt-2">
      <%= f.label :email %></br>
      <%= f.email_field :email, class:"form-control", placeholder:"Enter email", autofocus:true %>
    </div>
    <div class="form-group pt-2">
      <%= f.label :password %></br>
      <%= f.password_field :password,class:"form-control", placeholder:"Enter password", autofocus:true %>
    </div>
    <div class="pb-5">
      <%= f.submit "Signup", class: "btn btn-primary" %>
    </div>
    <% end %>
    <div>
      <%= link_to "Cancel and Back to articles listing", articles_path %>
  </div>
  </div>
</div>
