<h3 class="text-center">Create new category</h3>

<%= render 'shared/errors', obj:@category %>

<%= form_for @category do |f| %>
  <div class="form-group pt-2">
    <%= f.label :category %>
    <%= f.text_field :name, class:"form-control", placeholder:"Category name", autofocus:true %>
  </div>

  <div class="pb-5">
    <%= f.submit class: "btn btn-primary" %>
  </div>
  <% end %>
  <div>
    <%= link_to "Cancel and Back to articles listing", articles_path %>
</div>
